/* Navigation */

.top-navigation{
    position: sticky;
}

.bottom-navigation{
    position: absolute;
    bottom: 0;
}

.bottom-navigation a{
    color: var(--text);
}

/* FAB */
.FAB{
    height: 55px;
    width: 55px;
    position: absolute;
    z-index: 999;
    bottom: 100px;
    right: 15px;
}

/* Home */
.card-flash{
    height: 200px;
}

.side-scroll{
    overflow-x: hidden;
}

.smallCard{
    height: 100px;
    width: 100px;
    border: solid var(--text) 1px;
    margin-left: 32px;
    flex: 0 0 auto;
}

/* Forum */

.avatar-box{
    height: 50px;
    width: 50px;
    object-fit: cover;
    vertical-align: middle;
}

.card-header{
    padding: 15px;
}

/* Profile */

.profile-tab{
    flex: 1;
    text-align: center;
}

/* Setting */

#setting-screen{
    position: absolute;
    top: 24px;
    height: 665px;
}

.setting-top h3{
    padding-left: 25%;
}